@import '../../styles/mixings.scss';

.contentBaseCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @include media-breakpoint-between(xs, sm) {
    grid-template-columns: 1fr;
  }
}
