@import '../../styles/mixings.scss';

.containerSkills {
  display: grid;
  margin-bottom: 150px;
}
.contentIcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-left: -4rem;
  @include media-breakpoint-between(xs, sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-left: 0rem;
  }
}
.contentIconColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
