@import '../../styles/mixings.scss';

.linksContainer {
  display: flex;
  justify-content: flex-start;
}
.contentIcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 75%;
  @include media-breakpoint-between(xs, sm) {
    width: 100%;
  }
}
