@import '../../styles/mixings.scss';

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1.5px solid rgb(49, 53, 56);
  padding: 0 332px 0 332px;
  @include media-breakpoint-between(xs, sm) {
    padding: 0 0px 0 0px;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  margin: 25px 0px 25px 0px;
}
